.react-calendar {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  color: #4f46e5;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.react-calendar__tile {
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  transition: 0.2s all;
  text-align: center;
}

/* Hover */
.react-calendar__tile:hover {
  background: #e0e7ff;
  color: #1e3a8a;
}

/* Día bloqueado */
.blocked {
  background: #fd8989 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 10px;

  /* Separación entre tiles */
  margin: 4px;             /* 4px es suficiente para separar visualmente */
  box-shadow: 0 0 0 1px white; /* halo blanco alrededor */
}

.blocked:hover {
  background: #ff4f4f !important;
  color: white !important;
}


/* Día seleccionado */
.react-calendar__tile--active {
  background: #8c8bc252 !important; /* tu primary-600 */
  color: white !important;
  font-weight: bold;
  border-radius: 10px;
}
.react-calendar__tile--active:hover {
  background: #5a59b149 !important;
  color: white !important;
}